<footer>
        <section class="container">
            <section class="upper-section">
                <div class="courses">
                    <p>Kurslar</p>
                    <a>Dizayn</a>
                    <a>Proqramlaşdırma</a>
                    <a>Kibertəhlükəsizlik</a>
                    <a>Uşaqlar üçün kompüter kursları</a>
                    <a>Tətillər</a>
                </div>

                <div class="about">
                    <p>IT Step haqqında</p>
                    <a>Akademiya haqqında</a>
                    <a>Rəylər</a>
                    <a>Əlaqə</a>
                    <a>Blog</a>
                    <a>Vakansiyalar</a>
                </div>

                <div class="contact" style="width: 395px;">
                    <p>Əlaqə</p>

                    <div class="cominucations">
                        <section class="comunication1">
                            <a>Koroğlu Rəhimov 70</a>
                            <a>(012) 599 11 59</a>
                            <a>sale_baku@itstep.org</a>
                            <a>10:00-18:00 (b.e-ş)</a>
                        </section>
    
                        <section class="comunication2">
                            <a>Tbilisi pr. 20</a>
                            <a>(012) 599 11 59</a>
                            <a>10:00-19:00 (b.e-ş), 10:00-17:00 (b)</a>
                        </section>
    
                        <section class="comunication3">
                            <a>Qara Qarayev 87</a>
                            <a>(012) 599 11 59</a>
                            <a>10:00-19:00 (b.e-ş), 10:00-17:00 (b)</a>
                        </section>
                    </div>
                </div>
            </section>

            <hr>

            <section class="lower-section">
                <p>© 1999-2024 STEP IT Academy.</p>
                
                <div class="social-list">
                    <a target="_blank" href="https://www.facebook.com/ITSTEPAcademyBaku" aria-label="link for facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/stepit_baku/"aria-label="link for instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCiXqv3-JBtRW4hwVibCW8Rg?view_as=subscriber"aria-label="link for youtube">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </section>
        </div>
    </footer>