<header>

    <div class="leftmenu">

        <img height="80" src="https://fsx3.itstep.org/api/v1/files/XlNHbfS0RU_exefWDWAnrdXMR5AXEpRT" />
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Index">About</a>
            <a asp-controller="Home" asp-action="Index">Blog</a>
            <a>Contact</a>
        </nav>
    </div>

    <div class="rightmenu">

        <div class="select">
            <select>
                <option>Baki</option>
            </select>

            <select>
                <option>AZ</option>
                <option>RU</option>
            </select>
        </div>

        <a href="tel:+0125991159">(012) 599 11 59</a>
    </div>
</header>