<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Step It Academy</title>
    <link rel="preload" as="image" href="https://fsx3.itstep.org/api/v1/files/XlNHbfS0RU_exefWDWAnrdXMR5AXEpRT">
    <link rel="icon" as="image" href="https://fsx3.itstep.org/api/v1/files/XlNHbfS0RU_exefWDWAnrdXMR5AXEpRT">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP.NET_Step_It.styles.css" asp-append-version="true" />
</head>
<body>
    
    <partial name="PartialViews/HeaderPartialView.cshtml" ></partial>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="PartialViews/FooterPartialView.cshtml"></partial>

    <partial name="Partials/_ValidationScriptsPartial.cshtml"></partial>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
